/*
    Color palettes
*/
/* Background */
/* Current line */
/* Selection */
/* Foreground */
/* Comment */
/* Red */
/* Orange */
/* Yellow */
/* Green */
/* Aqua */
/* Blue */
/* Purple */
/* Background */
/* Current line */
/* Selection */
/* Foreground */
/* Comment */
/* Red */
/* Orange */
/* Yellow */
/* Green */
/* Aqua */
/* Blue */
/* Purple */
.bg {
  background-color: #2d2d2d; }

#header {
  margin: auto;
  list-style: none;
  border-bottom: 1px solid #212121; }

#header ul, #header ol {
  padding: 1em;
  list-style: none;
  float: right; }

#header h1 {
  color: #cccccc;
  margin-bottom: 0.2em; }

/*
    Color palettes
*/
/* Background */
/* Current line */
/* Selection */
/* Foreground */
/* Comment */
/* Red */
/* Orange */
/* Yellow */
/* Green */
/* Aqua */
/* Blue */
/* Purple */
/* Background */
/* Current line */
/* Selection */
/* Foreground */
/* Comment */
/* Red */
/* Orange */
/* Yellow */
/* Green */
/* Aqua */
/* Blue */
/* Purple */
.fonts {
  color: #cccccc;
  font-family: 'Open sans', sans-serif; }

.body-margin {
  padding: 10px; }

body {
  width: 80%;
  margin: auto;
  min-width: 600px;
  max-width: 2000px;
  width: 100%;
  height: 40px; }

.lists {
  font-size: 12pt;
  float: left;
  overflow: auto;
  margin-left: 5em;
  margin-top: 3em;
  height: 14.25em;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid; }
  .lists ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0.5em; }
  .lists h3 {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-size: 18pt;
    font: bold;
    color: #2d2d2d;
    border-radius: 6px;
    text-align: center; }

#list1 {
  border-color: #99cc99; }
  #list1 .list-title {
    background: #99cc99; }

#list2 {
  border-color: #66cccc; }
  #list2 .list-title {
    background: #66cccc; }

#list3 {
  border-color: #f99157; }
  #list3 .list-title {
    background: #f99157; }

#list4 {
  border-color: #cc99cc; }
  #list4 .list-title {
    background: #cc99cc; }

#list5 {
  border-color: #ffcc66; }
  #list5 .list-title {
    background: #ffcc66; }

.search-box {
  margin-left: 6em;
  padding: 2em;
  margin-top: 2em;
  background-color: #2d2d2d; }

input.search-query {
  margin-left: 2em;
  width: 25%;
  box-sizing: border-box;
  font-size: 20pt;
  border: 1px;
  border-radius: 5px;
  background: #2d2d2d;
  color: #cccccc; }

input:hover {
  box-shadow: 0 0 5px #cccccc, 0 0 10px #cccccc, 0 0 15px #cccccc, 0 0 20px #cccccc; }

input[type=text] {
  width: 270px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out; }

input[type=text]:focus {
  outline: none;
  width: 300px; }

/*
    Color palettes
*/
/* Background */
/* Current line */
/* Selection */
/* Foreground */
/* Comment */
/* Red */
/* Orange */
/* Yellow */
/* Green */
/* Aqua */
/* Blue */
/* Purple */
/* Background */
/* Current line */
/* Selection */
/* Foreground */
/* Comment */
/* Red */
/* Orange */
/* Yellow */
/* Green */
/* Aqua */
/* Blue */
/* Purple */
.links a:link {
  color: #cccccc;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
.links a:visited {
  color: #cccccc;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
.links a:hover {
  color: #cccccc;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
.links a:active {
  color: #cccccc;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

.dropbtn {
  background-color: #2d2d2d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.dropbtn:hover, .dropbtn:focus {
  background-color: #2d2d2d;
  outline: none; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2d2d2d;
  min-width: 16px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block; }

.dropdown a:hover {
  background-color: #2d2d2d;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.show {
  display: block; }

#footer {
  position: absolute;
  bottom: -5em;
  font-size: 10px;
  z-index: 10;
  height: 3em;
  margin: 0 auto;
  margin-top: -3em;
  width: 100%;
  text-align: center; }

::-webkit-scrollbar {
  width: 0.75em;
  border-radius: 10px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  outline: 1px solid slategrey;
  border-radius: 10px; }

/*# sourceMappingURL=main.css.map */
