#footer {
  position: absolute;
  bottom: -0em;
  font-size: 10px;
  z-index: 10;
  height: 4em;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: -3em;
  width: 90%;
  text-align: center;
  color: white;
  background: $bg;
}