#footer {
    position: absolute;
    bottom: -5em;
    font-size: 10px;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    width: 100%;
    min-width: 80%;
    max-width: 120%;
    text-align: center;
}